@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@font-face {
  font-family: "HKGrotesk-Light";
  src: local("HKGrotesk-Light"),
    url(./fonts/HKGrotesk-Light.otf) format("opentype");
}

@font-face {
  font-family: "HKGrotesk-Bold";
  src: local("HKGrotesk-Bold"),
    url(./fonts/HKGrotesk-Bold.otf) format("opentype");
}

@font-face {
  font-family: "HKGrotesk-Medium";
  src: local("HKGrotesk-Medium"),
    url(./fonts/HKGrotesk-Medium.otf) format("opentype");
}

* {
  box-sizing: border-box;
  list-style: none;
}

html,
body,
#root,
.App,
main {
  height: 100%;
  background-color: var(--main-bg-color);
}

:root {
  --main-bg-color: #f5f8ff;
  --date-unchecked: rgb(247, 247, 247);
  --date-unchecked-hover: #ffceb8;
  --date-checked: #fda57d;
  --date-checked-hover: #ff9464;
  --habit-name: #416788;
  --habit-name-hover: #96a5bf;
  --link: #ddd;
  --link-hover: #96a5bf;
  --login-buttons: #bac9e2;
  --login-buttons-hover: #0D3B66;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "HKGrotesk-Light", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

fieldset {
  border: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
